<div>   
    <div class="card border-success" style="min-height: 75px;">
            <p class="card-text">
                {{{body}}}
            </p>
    </div>

    <h7 class="card-title">
        Created by: {{user.username}} at {{format_date updatedAt}} - {{format_time updatedAt}}</h7>
</div> 